.container {
	overflow: scroll;
}

.container::-webkit-scrollbar {
	display: none;
}

.chatInfo_container {
	width: 70%;
}

.chat_room_list_title {
	width: 85%;
	margin: 30px auto;
	font-size: 20px;
	font-weight: 600;
	color: #414368;
}

.chat_add_btn {
	border: none;
	box-sizing: border-box;
	position: absolute;
	top: 27px;
	left: 178px;
	font-size: 23px;
	text-align: center;
	background-color: white;
	color: #414368;
	cursor: pointer;
}

.chat_add_btn .fa-plus {
	margin: 7px auto;
	color: #414368;
}

.chatInfo_container {
	width: 85%;
	margin: 30px auto;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
}

.chatInfo_container {
	min-height: 150px;
	margin: 30px auto;
	border-radius: 5px;
	position: relative;
	background-color: #D1D9E5;
	color: #414368;
}

.chatInfo_container .chat_room_title {
	color: #414368;
	font-size: 19px;
	font-weight: 600;
	padding: 5px;
	margin: 20px 30px 10px;
	display: inline-block;
	cursor: pointer;
}

.chatInfo_container .chat_room_title span {
	cursor: pointer;
}

.chatInfo_container .chat_exit_btn {
	display: inline-block;
	position: absolute;
	padding: 5px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.chatInfo_container  ul {
	width: 100%;
	height: 60px;
	padding: 0px 30px;
	box-sizing: border-box;
}

.chatInfo_container .member_list_container li {
	margin: 0px 10px 10px 0px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}

.chatInfo_container .chat_invite_btn .fa-plus {
	margin: 13.5px 12px;
	font-size: 16px;
}

.member_container .profile_img_container, .chat_invite_btn {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin: 5px auto;
	border: 3px solid #5169B3;
	height: 42px;
}

.member_list_container .chat_invite_btn {
	background-color: #5169B3;
	color: white;
	text-align: center;
	cursor: pointer;
}

.chat_invite_btn+p {
	visibility: collapse;
}

.member_container .profile_img_container img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.member_name {
	margin-top: 10px;
	font-size: 13px;
}

/* 채팅방 */

.chat_container {
	width: 98%;
	height: calc(100% - 79px);
	border-radius: 5px;
	border: 1px solid #A6BAD8;
	margin: 10px auto 0px;
}

.chat_message_list_container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat_message_list_container::-webkit-scrollbar {
	display: none;
}

.chat_message_box {
	padding: 10px 10px;
}

.chat_system_message_box {
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	padding: 10px 0px;
	border-top: 0.5px solid #8798c64f;
	border-bottom: 0.5px solid #8798c64f;
}

.chat_system_message_box+.chat_system_message_box {
	border-top: 0px;
}

.my_msg {
	background-color: rgba(209, 217, 229, 0.2);
}

.their_msg {
	background-color: #a6bad880;
}

.date_msg {
	position: relative;
	padding: 6px 0px;
}

.date_msg div {
	background-color: #D1D9E5;
	color: #414368;
	width: 100px;
	border-radius: 30px;
	padding: 5px;
	font-weight: 400;
	z-index: 0;
	font-size: 13px;
}

.chat_message_box_img {
	width: 35px;
	height: 35px;
	border: 3px solid #5169B3;
	border-radius: 50%;
	display: inline-block;
}

.chat_message_box_img  img {
	width: 100%;
}

.chat_message_box_text {
	display: inline-block;
	vertical-align: top;
	margin: 2px 0px 0px 10px;
}

.chat_message_box_name {
	font-size: 15px;
}

.chat_message_box_date {
	font-size: 9px;
	padding-left: 9px;
	font-weight: 200;
}

.chat_message_box_content {
	font-weight: 200;
	padding: 5px 0px 0px 0px;
}

.chat_message_input_box {
	width: 98%;
	border: 1px solid #A6BAD8;
	border-radius: 5px;
	padding: 8px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
}

.chat_message_input_box textarea {
	width: calc(100% - 67px);
	height: 32px;
	float: left;
	resize: none;
	background-color: rgba(209, 217, 229, 0.3);
	border: 0px;
	border-radius: 3px;
	padding: 5px 13px;
	box-sizing: border-box;
}

.chat_message_input_box button {
	width: 57px;
	height: 32px;
	float: right;
	border: none;
	background-color: #5169B3;
	color: white;
	border-radius: 3px;
	font-size: 13px;
}