@charset "UTF-8";

.header_container {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
}

.header_container * {
	color: white;
}

.header_container>* {
	float: left;
}

.header_container .img_container {
	display: block;
	width: 100px;
	margin: 15px 0px 0px 30px;
}

.header_container .img_container img {
	width: 100%;
}

.header_container .chat_room_title {
	width: 300px;
	margin: 16px 90px;
}

.navigation_container+.container {
	position: fixed;
	top: 70px;
	left: 201px;
	width: calc(100% - 200px);
	height: calc(100% - 71px);
}