@charset "UTF-8";

.header_container {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #414368 20%, #5169B3 50%, #99BFD5 100%);
	position: relative;
}

.chat_room_title input {
	color: #FFF;
	background: content-box;
	border: 0px;
	font-size: 25px;
	width: 170px;
}

.chat_room_title button {
	display: none;
}

.search_chat_btn, .invite_member_btn, .exit_chatroom_btn {
	position: absolute;
	top: 20px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.search_chat_btn {
	right: 100px;
}

.search_chat_container {
	width: calc(100% - 200px);
	height: 41px;
	box-sizing: border-box;
	padding: 6px;
	background-color: #e1ebf1;
	position: absolute;
	bottom: -41px;
	left: 201px;
	display: none;
	z-index: 1;
}

.search_chat_container input {
	width: calc(100% - 102px);
	height: 27px;
	box-sizing: border-box;
	padding-left: 15px; border : none;
	border-radius: 3px;
	border: none;
}

.search_chat_container button {
	width: 29px;
	height: 29px;
	border: none;
	border-radius: 3px;
	background-color: #5169B3;
	color: white;
	cursor: pointer;
}

.search_chat_container button:disabled {
	background-color: gray;
	opacity: 0.15;
}

.search_highlighter{
    background-color: #5169B3;
    color: white;
}

.invite_member_btn {
	right: 60px;
}

.exit_chatroom_btn {
	right: 20px;
}

.chat_room_title p {
	font-size: 30px;
}

.header_container>* {
	float: left;
}

.header_container .img_container {
	display: block;
	width: 100px;
	margin: 15px 0px 0px 30px;
}

.header_container .img_container img {
	width: 100%;
}

.header_container .chat_room_title {
	max-width: 300px;
	position: absolute;
	top: 15px;
	left: 204px;
}

.header_container .chat_room_title {
	max-width: 300px;
	position: absolute;
	top: 15px;
	left: 204px;
}

.header_container .chat_message_search_box {
	position: absolute;
	top: 21px;
	right: 112px;
}

.chat_message_search_box input {
	border: none;
	height: 26px;
	border-radius: 3px;
	padding-left: 20px;
}

.navigation_container+.container {
	position: fixed;
	top: 70px;
	left: 201px;
	width: calc(100% - 200px);
	height: calc(100% - 71px);
}

.search_chat_btn, .invite_member_btn, .exit_chatroom_btn {
	padding: 5px;
}
