@charset "UTF-8";

body {
	background: linear-gradient(45deg, #414368 20%, #5169B3 50%, #99BFD5 100%);
}

body * {
	color: white;
}

.container {
	width: 100%;
	height: 100vh;
	position: relative;
}

.main_title_container {
	width: 500px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main_title_container img {
	width: 250px;
}

.main_title_container p {
	font-size: 40px;
	margin: 25px 0 52px;
}

.main_title_container button {
	border: 1px solid white;
	border-radius: 3px;
	width: 185px;
	background-color: rgba(255, 255, 225, 0.1);
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	color: white;
}

.main_title_container button+button {
	margin-left: 20px;
}