@charset "UTF-8";

.my_page_box {
	border: 1px solid black;
	height: 425px;
	width: 300px;
	margin: 10% auto;
	padding: 5px;
}

.my_page_profile_container {
	width: 160px;
	height: 160px;
	border: 1px solid black;
	border-radius: 50%;	
}

.my_page_profile_container img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin-bottom: 15px;
}

.my_page_box div {
	margin: 0px auto 15px auto;
}

.my_page_box p:first-child {
	margin-bottom: 10px;
	font-weight: 800;
}

.my_page_box p:nth-child(2) {
	padding-bottom: 3px;
	font-weight: 100;
	border-bottom: 1px solid black;
}

.my_page_id_container,
.my_page_name_container,
.my_page_pw_container {
	padding: 5px 25px 5px 25px;
}

.my_page_modify_btn {
	border: 1px solid black;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    float: right;
}

/* myPageModifyForm */

.my_page_box .modify_profileImage_btn_area input {
	display: none;
}

.my_page_box .modify_profileImage_btn_area label {
	border: 1px solid black;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
}

.my_page_box input {
	border: 1px solid black;
	height: 25px;
	width: 244px;
}

.modify_profileImage_btn_area {
	text-align: center;
}

.modal {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.modal .btn {
	border: 1px solid black;
}

.cropImgModal #cropImgArea {
	width : 100%;
	height: 200px;
}

.cropper-view-box {
	box-shadow: 0 0 0 1px #39f;
	border-radius: 50%;
	outline: 0;
}