@charset "UTF-8";

/* myPageMain */

.my_page_box,
.my_page_modify_box {
	border: 1px solid #D1D9E5;
	border-radius: 7px;
	background: linear-gradient(0deg, #A6BAD8 5%, #FFFFFF 50%, #FFFFFF 100%);
	width: 300px;
	margin: 80px auto 0px;
	padding: 30px 10px 30px 10px;
}

.my_page_btn_box {
	width: 300px;
	margin: 0px auto 0px;
}

.my_page_box {
	height: 300px;
}

.my_page_modify_box {
	height: 380px;
}

.my_page_profile_container {
	width: 100px;
	height: 100px;
	border: 1px solid white;
	border-radius: 50%;	
}

.my_page_profile_container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
}

.my_page_box div {
	margin: 0px auto 20px auto;
}

.my_page_box p:first-child {
	margin-bottom: 12px;
	font-weight: 600;
}

.my_page_box p:nth-child(2) {
	padding-bottom: 5px;
	font-weight: 100;
	border-bottom: 1px solid black;
}

.my_page_id_container,
.my_page_name_container,
.my_page_pw_container,
.my_page_pw_check_container {
	padding: 5px 25px 5px 25px;
}

.my_page_modify_btn {
	border: 0px;
	border-radius: 3px;
	background-color: #FFFFFF;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 300;
    color: #414368;
    cursor: pointer;
    float: right;
    margin-top: 15px;
}

.my_page_remove_btn {
	border: 0px;
	border-radius: 3px;
	background-color: #FFFFFF;
    padding: 2px 2px;
    font-size: 8px;
    color: #A6BAD8;
    cursor: pointer;
    float: right; 
}

/* myPageModifyForm */

.my_page_modify_box div {
	margin: 0px auto 15px auto;
}

.my_page_box .modify_profileImage_btn_area input {
	display: none;
}

.my_page_box .modify_profileImage_btn_area label {
	border: 1px solid black;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
}

.my_page_modify_box p:first-child {
	margin-bottom: 8px;
	font-weight: 600;
}

.my_page_name_container input,
.my_page_pw_container input,
.my_page_pw_check_container input {
	border: 1px solid #D1D9E5;
	border-radius: 3px;
	background-color: #FFFFFF;
	height: 27px;
	width: 244px;
}

.modify_profileImage_btn_area {
	text-align: center;
}

.modal {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.modal .btn {
	border: 1px solid black;
}

.cropImgModal #cropImgArea {
	width : 100%;
	height: 200px;
}

.cropper-view-box {
	box-shadow: 0 0 0 1px #39f;
	border-radius: 50%;
	outline: 0;
}