@charset "UTF-8";

.navigation_container {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 70px;
	left: 0px;
	border-right: 1px solid #D5E5F5;
	text-align: center;
	background: linear-gradient(45deg, #D5E5F5 20%, #FFF 50%, #FFF 100%);
}

.navigation_container .profile_container {
	width: 100%;
	height: 150px;
	margin-top: 30px;
}

.navigation_container .profile_container+button {
	cursor: pointer;
}

.navigation_container .profile_img_container {
	width: 120px;
	height: 120px;
	display: block;
	border: 1px solid black;
	border-radius: 50%;
	margin: 0px 40px 10px;
}

.navigation_container .profile_img_container img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-bottom: 15px;
}

.navigation_container button {
	border: none;
	background-color: white;
	text-decoration: underline;
}

.chat_list_container {
	width: 160px;
	margin: 83px auto;
	text-align: left;
}

.chat_list_container .title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.chat_list_container .chat_add_btn {
	width: 100%;
	height: 30px;
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
	box-sizing: border-box;
}

.chat_list_container .chat_add_btn .fa-plus {
	margin: 7px auto;
}

.chatRoomList {
	height: 300px;
	overflow: scroll;
}

.chatRoomList>div {
	background-color: #D5E5F5;
	margin: 10px 0px;
	height: 40px;
	line-height: 40px;
	color: white;
	padding-left: 20px;
	cursor: pointer;
}