<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanta.klat.dao.ChatRoomDao">

	<insert id="insertChatRoom" parameterType="chatRoom">
		insert into tbl_chat_room
		(cr_title)
		values(#{crTitle})
		<selectKey order="AFTER" keyProperty="crNum" resultType="int">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertChatRoomMember">
		insert into tbl_chat_room_member
		(cr_num, m_num)
		values(#{param1}, #{param2})
	</insert>
	
	<update id="updateChatRoom" parameterType="chatRoom">
		update tbl_chat_room
		set cr_title = #{crTitle}
		where cr_num = #{crNum}
	</update>
	
	<delete id="deleteChatRoomMember" parameterType="int">
		delete 
		from tbl_chat_room_member
		where cr_num = #{crNum} and m_num = #{mNum} 
	</delete>
	
	<delete id="deleteEmptyChatRoom">
		delete 
		from tbl_chat_room cr
		where 
		(select count(*) 
		from tbl_chat_room_member crm
		where crm.cr_num = cr.cr_num) = 0
	</delete>
	
	<select id="selectChatRoomListByMNum" parameterType="int" resultMap="chatRoomMap">
		select cr.cr_num, cr.cr_title 
		from tbl_chat_room cr join tbl_chat_room_member crm
		on cr.cr_num = crm.cr_num
		where crm.m_num = #{param1}
		order by cr.cr_num desc
	</select>
	
	<select id="selectChatRoomMemberListByCrNum" parameterType="int" resultType="int">
		select m_num
		from tbl_chat_room_member
		where cr_num = #{crNum}
	</select>
	
	<resultMap id="chatRoomMap" type="chatRoom">
		<result column="cr_num" property="crNum" />
		<result column="cr_title" property="crTitle" />
	</resultMap>
</mapper>