<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanta.klat.dao.ChatMessageDao">

	<insert id="insertChatMessage" parameterType="chatMessage">
		insert into tbl_chat_message
		(cm_content, cm_type, cm_write_date, cr_num, m_num)
		values(#{cmContent}, #{cmType}, #{cmWriteDate}, #{crNum}, #{mNum})
		<selectKey order="AFTER" keyProperty="cmNum" resultType="int">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectChatMessageByCmNum" resultMap="chatMessageMap">
		select cm.cm_num, cm.cm_content, cm.cm_type, cm.cm_write_date, cm.cr_num, m.m_num, m.m_name, m.m_profile_img
		from tbl_chat_message cm, tbl_member m 
		where cm.m_num = m.m_num 
		and cm_num = #{cmNum}
	</select>
	
	<select id="selectAllChatMessageByCrNum" parameterType="int" resultMap="chatMessageMap">
		select cm.cm_num, cm.cm_content, cm.cm_type, cm.cm_write_date, cm.cr_num, m.m_num, m.m_name, m.m_profile_img
		from tbl_chat_message cm, tbl_member m
		where cm.m_num = m.m_num 
		and cr_num = #{crNum}
	</select>
	
	<resultMap id="chatMessageMap" type="chatMessage">
		<result column="cm_num" property="cmNum" />
		<result column="cm_content" property="cmContent" />
		<result column="cm_type" property="cmType" />
		<result column="cm_write_date" property="cmWriteDate" />
		<result column="cr_num" property="crNum" />
		<result column="m_num" property="mNum" />
		<result column="m_name" property="mName" />
		<result column="m_profile_img" property="mProfileImg" />
	</resultMap>
</mapper>