<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanta.klat.dao.MemberDao">
	
	<insert id="insertMember" parameterType="member">
		insert into tbl_member
		(m_id, m_name, m_pw, m_profile_img)
		values(#{mId}, #{mName}, #{mPw}, #{mProfileImg})
		<selectKey order="AFTER" keyProperty="mNum" resultType="int">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertAuthority">
	 	insert into tbl_authority
	 	(m_num)
	 	values(#{param1})
	</insert>
	
	<delete id="deleteMemberByMNum">
		delete 
		from tbl_member
		where m_num = #{param1}
	</delete>
	
	<delete id="deleteAuthority">
		delete 
		from tbl_authority
		where m_num = #{param1}
	</delete>
	
	<update id="updateMember" parameterType="member">
		update tbl_member
		set m_name = #{mName}, 
			m_pw = #{mPw},
			m_profile_img = #{mProfileImg}
		where m_num = #{mNum} 
	</update>
	
	<select id="selectMemberByMId" resultMap="memberMap">
		select m_num, m_id, m_name, m_pw, m_profile_img
		from tbl_member
		where m_id = #{param1}
	</select>
	
	<select id="selectMemberByMNum" resultMap="memberMap">
		select m_num, m_id, m_name, m_pw, m_profile_img
		from tbl_member
		where m_num = #{param1}
	</select>
	
	<select id="selctChatMemberListExceptMe" resultMap="memberMap">
		select m.m_num, m.m_id, m.m_name, m.m_profile_img
		from tbl_chat_room_member crm join tbl_member m
		on crm.cr_num = #{param1} and crm.m_num = m.m_num and m.m_num != #{param2}
	</select>
	
	<select id="selectAuthoritiesByMNum" resultType="string">
		select a_authority
		from tbl_authority
		where m_num = #{param1}
	</select>
	
	<select id="selectMemberByKeyword" resultType="String">
		select m_id
		from tbl_member
		where m_id like CONCAT('%', #{param1}, '%')
	</select>
	
	<resultMap type="member" id="memberMap">
		<result column="m_num" property="mNum"/>
		<result column="m_id" property="mId"/>
		<result column="m_name" property="mName"/>
		<result column="m_pw" property="mPw"/>
		<result column="m_profile_img" property="mProfileImg"/>								
	</resultMap>
	
</mapper>